
@{
    ViewBag.Title = "SettingSpider";
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    @*<h3 class="page-title">
            Basic Datatables <small>basic datatable samples</small>
        </h3>*@

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group accordion scrollable" id="accordion3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_1">
                                <span>农场自动数据获取</span>
                               
                            </div>
                            
                        </div >
                       
                    </div>
                    <div id="FruitSetForm" class="panel-collapse in">
                        <div class="panel-body form">
                            <form role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input name="Duration" type="number" class="form-control" id="exampleInputPassword1" placeholder="时间间隔">
                                        </div>
                                    </div>
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input name="IsOpen" type="checkbox" id="checkbox1" class="md-check">
                                            <label for="checkbox1">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                是否开启 
                                            </label>
                                        </div>
                                    </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn blue">保存</button>
                                            <button type="button" class="btn default">取消</button>
                                        </div>
                                    </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    

