<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu page-sidebar-menu-compact" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        @Html.Action("CompMenu", "Layout", new { activeMenu = ViewBag.ActiveMenu })
    </ul>
</div>
